html {
    width: 100vw;
    height: 100vh;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    background: linear-gradient(#446182, #1f2429);

    transition: opacity 0.5s cubic-bezier(.77,0,.18,1);
    pointer-events: all;
}
.login.hide {
    opacity: 0;
    pointer-events: none;
}

.login .form-hide {
    pointer-events: none;
}

.login svg {
    width: 256px;
    fill: #fff;
}

.login .form {
    width: 360px;
    text-align: center;
    animation: loadAnim 1s;
}
.login .title {
    width: 100%;
    color: #ccc;
    font-size: 2rem;
    user-select: none;
    cursor: initial;
}
.login .title > b {
    font-weight: 600;
}
.login .title > p {
    display: inline;
    animation: fadeIn 1s;
}

.login .login-card {
    position: relative;
    height: 144px;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 20px;
    border-radius: 4px;
    background-color: #212529;
    transition: height 0.5s cubic-bezier(.77,0,.18,1),
                margin-top 0.5s cubic-bezier(.77,0,.18,1),
                padding-top 0.5s cubic-bezier(.77,0,.18,1),
                padding-bottom 0.5s cubic-bezier(.77,0,.18,1),
                background-color 0.5s cubic-bezier(.77,0,.18,1);
    overflow: hidden;
}
.login .login-card.card-to-progressbar {
    height: 3px;
    margin-top: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*background-color: #21252983;*/
}
.login .login-card * {
    transition: opacity 0.5s cubic-bezier(.77,0,.18,1);
}
.login .login-card.card-to-progressbar * {
    transition: opacity 0.5s cubic-bezier(.77,0,.18,1);
    opacity: 0;
}
.login .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    background-color: #3585df;
    transition: width 0s .5s cubic-bezier(.77,0,.18,1);
}
.login .login-card.card-to-progressbar > .progress-bar {
    width: 100%;
    opacity: 1;
    transition: width 1s .5s cubic-bezier(.77,0,.18,1);
}

.login .input-group {
    position: relative;
    margin-bottom: 1rem;
}
.login .input-group > span.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    pointer-events: none;
}

@keyframes loadAnim {
    0% {
        opacity: 0;
        transform: scale3d(1.05, 1, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-left: -30px;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}
