#
# Environment
#
ENVIRONMENT=dev

#
# HTTP Server
#
HTTP_SERVER_URL=

#
# TPC Server
#
LISTEN_PORT=
MAX_CONNECTIONS=

#
# Logs
#
LOG_LEVEL=normal
LOG_PATH=./logs
LOG_KEEP_DAYS=-1

#
# Network configuration
#
MAX_RECEIVED_FRAME_SIZE="131072"    # 128KB
MAX_RECEIVED_MESSAGE_SIZE="1048576" # 1MB

#
# SSL configuration
#
SSL_PRIVATE_KEY_PATH=""
SSL_CERTIFICATE_PATH=""

#
# MySQL Database configuration
#
DB_HOSTNAME="localhost"
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_PORT=""

#
# Encryption configuration
#
CRYPT_METHOD="aes-256-ctr"
CRYPT_KEY_A=""
CRYPT_KEY_B=""

#
# GameLife Database configuration
# 
DB_GL_HOSTNAME=
DB_GL_PORT=
DB_GL_DATABASE=
DB_GL_USERNAME=
DB_GL_PASSWORD=
