.nav-features .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding-left: 12px;
    padding-right: 22px;

    color: #cacaca;
    border: none;
    border-bottom: .1px solid #b7c0cd4f;
    outline: none;
    background-color: transparent;

    font-size: 16px;
    font-family: 'Open Sans';

    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.nav-features .profile > .icon {
    background-color: #cacaca;
}
.nav-features .profile:hover {
    color: #fff;
}
.nav-features .profile:hover > .icon {
    background-color: #fff;
}
.nav-features .profile .profile-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-features .profile .profile-image {
    width: 36px;
    margin-right: 12px;
    border-radius: 4px;
}

.nav-features .category {
    height: 100%;
}
.nav-features .category::before {
    content: attr(data-title);
    display: block;
    padding: 16px 16px 6px;
    width: 100%;
    font-family: 'Open Sans';
}