.profile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 16px;
}
.profile-header > img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.profile-header > h2 {
    margin-top: 12px;
    font-weight: 400;
}
.profile-header > h3 {
    color: #b7c0cd;
    font-size: .8rem;
    font-weight: 400;
}

.profile-body > ul {
    list-style: none;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
}
.profile-body > ul > li {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-body > ul > li:not(:last-child) {
    border-bottom: solid 1px #b7c0cd1c;
}
.profile-body a {
    color: #138aea;
    text-decoration: none;
    cursor: pointer;
}

.settings-title {
    margin-top: 12px;
    font-weight: 400;
    text-align: center;
}
.settings-features {
    list-style: none;
    margin: 12px 0 24px;
    padding: 24px;
    border-radius: 4px;
    background-color: #102b3c;
}
.settings-features > li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}
.settings-features > li.ghost {
    opacity: 0.5;
}
.settings-features > li > p {
    width: 100%;
    margin: 0;
    padding-left: 12px;
}
.settings-features > li.disabled > p {
    color: #b7c0cd;
    text-decoration: line-through;
}
.settings-features > li > span:first-child {
    padding: 4px;
    cursor: move;
    user-select: none;
}
.settings-features > li > span:last-child {
    padding: 2px;
    cursor: pointer;
    user-select: none;
}
.tfa {
    display: flex;
    align-items: center;
}
.tfa > img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}
.tfa > a {
    margin-top: 4px;
    margin-right: 8px;
    font-size: 0.7rem;
}
select.settings {
    margin: 12px auto 24px;
}