.title {
    margin: 0;
}
.separator {
    margin: 0 8px;
    width: 100px;
    height: 1px;
    margin: 12px 0;
    background-color: #b7c0cd4f;
}
.delete-contexte-buttons {
    display: flex;
    justify-content: space-between;
}
