.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    scale: 1.1;
    z-index: 10;
    background: #00000080;
    pointer-events: none;

    transition: opacity 0.3s cubic-bezier(.23,1,.32,1),
                scale 0.3s cubic-bezier(.23,1,.32,1);
}
.popup .card {
    position: relative;
    display: block;
    flex-wrap: wrap;
    width: 500px;
    padding: 12px 24px;
    border-top: 3px solid #42a5f5;
    border-radius: 4px;
    box-shadow: 0px 0px 18px #00000060;
}
.popup .card::before {
    position: absolute;
    top: 12px;
    left: 24px;
    content: attr(data-title);
    font-size: 1.2rem;
    color: #dbdbdb;
}
.popup.opened {
    opacity: 1;
    scale: 1;
    pointer-events: all;
}
