table {
    width: 100%;
    margin-top: 12px;
    padding: 0 12px;
    white-space: nowrap;
    border-collapse: collapse;
}
table p {
    margin: 0px;
}
table > tbody > tr {
    display: table-row;
    transition: color 0.15s cubic-bezier(.08,.82,.17,1),
    background-color 0.15s cubic-bezier(.08,.82,.17,1);
}
table > tbody > tr:hover {
    color: #bbb;
    background-color: #0000002e;
}
table > thead > tr > th {
    padding: 12px 4px;
    border-bottom: 2px solid #ffffffbd;
    text-align: left;
}

.show-lines > thead > tr > th {
    border-top: solid 1px #afafaf3a;
}
.show-lines,
.show-lines > tbody > tr > td {
    border-bottom: solid 1px #afafaf3a;
}
table > tbody > tr > td { padding: 12px; }
table > thead > tr > th:first-child,
table > tbody > tr > td:first-child { padding-left: 12px; }
table > thead > tr > th:last-child,
table > tbody > tr > td:last-child { padding-right: 12px; }

table > tbody > tr > td.editing { padding: 0 12px; }
table > tbody > tr > td.editing > input {
    width: calc(100% - 18px); /* (padding + border) * 2 */
    min-width: 64px;
    height: 100%;
    padding: 8px;

    color: #fff;
    background-color: #252c46;
    border: solid 1px #fff;
    border-radius: 4px;
    outline: none;
}
table > tbody > tr > td.editing > input::selection {
    background-color: #1792ae;
}
