.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 24px;
    border-top: 3px solid #42a5f5;
    border-radius: 4px;
    box-shadow: 0px 0px 18px #00000060;
}
.card::before {
    position: absolute;
    top: 12px;
    left: 24px;
    content: attr(data-title);
    font-size: 1.2rem;
    color: #dbdbdb;
}
.card:not(:last-child) {
    margin-right: 0px;
}
.card:not(:first-child) {
    margin-left: 0px;
}
