.profile h2 {
    margin: 0;
}
.profile .separator {
    margin: 0 8px;
    width: 100%;
    height: 1px;
    margin: 12px 0;
    background-color: #b7c0cd4f;
}
.search-container {
    padding-bottom: 24px;
}
