.card-sandbox,
.card-sandbox-result {
    height: calc(100vh - 280px);
}

.card-sandbox > textarea,
.card-sandbox-result > textarea {
    max-height: calc(100% - 28px);
    margin-top: 24px;
    padding-right: 8px;
    resize: none;
}

.card-sandbox > textarea {
    height: auto;
    white-space: pre;
}
.card-sandbox > button {
    position: absolute;
    top: 8px;
    right: 24px;
    padding: 6px 24px;
}
.card-sandbox > button > i {
    width: 16px;
    margin-left: 6px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.card-sandbox-result > textarea {
    height: calc(100% - 28px);
}