.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pathGroup {
    display: flex;
    align-items: center;
}

.favorite, .notFavorite {
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    aspect-ratio: 1;
    margin-left: 6px;
    transition: filter 0.15s;
    background-image: url(/public/icons/star.svg);
    cursor: pointer;
}
.notFavorite {
    background-image: url(/public/icons/star-outline.svg);
}
.favorite-loading {
    filter: grayscale(100%);
}

.title {
    margin: 0;
    font-weight: normal;
}
.text {
    margin: 0;
}
