.bg-blue        { background-color: #4099ff; }
.bg-red         { background-color: #ff5370; }
.bg-green       { background-color: #2ed8b6; }
.bg-yellow      { background-color: #ffb64d; }
.bg-blue-dark   { background-color: #223142; }
